.body {
font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.card-content {
/* // max-width:180px;  */
  height: auto; 
}
.weather-cards {
  /* display: flex;  */
  justify-content: space-between;
}
#input-city {
  border: 1px grey solid; 
}
.five-day-heading {
  display: block; 
}
.main-content { 
  margin: 10px auto; 
  font-style: ;
}
.date {
  padding-left: 10px;
}

.card-stat {
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
  text-align: center; 
  font-size: 1.5rem;
}
/* .card-image {
  margin-left: 40%;
} */
.main-0 {
  display: inline-block; 
  /* //margin-right: 10px; */
  font-size: 1.4em; 
}
.list-group-items {
  padding-right: ;
}
.todayWeatherStat {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-weight: bold;
}
.todays-weather-div {
  padding-left: 50px;

}
.jumbotron {
}